/* Full-screen background */
.chatbot-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../assets/scam-prevention-bg.png');
  /* opacity: ; */
}

.chatbot-container {
  color: #ffffff;
  max-width: 400px;
  background-color: white;
  padding: 20px 25px;
  background-color: rgba(0, 0, 0, 0.8); 
  opacity: 1;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow effect */
  text-align: center;
}

.chatbot-container h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #ffcc00;
}

.chatbot-container p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.risk-explanation {
  font-size: 0.9em;
  color: #e74c3c; /* Example warning color */
  margin-top: 5px;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #f39c12;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e67e22;
}

.yes {
  width: 80px;

}

.no {
  width: 80px;
}


.home1 {
  width: 120px;
  right: 680px;
  bottom: 150px;
}