.scam-prevention-home {
  color: #ffffff;
 /* margin-top: 50px;*/
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns the title and buttons */
  text-align: center; /* Centers text within the container */
}

.home {

  position: relative;
  right: 200%;
  margin-top: 10%;
}

.options2 {
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between buttons */
  width: 100%; /* Ensure the buttons container spans full width */
}

.options2 button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #f39c12;
  color: white;
  cursor: pointer;
}

.options2 button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* CoverPage.css */
.cover-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.cover-image {
  background-image: url('./assets/new-image.png'); /* New Image for Cover Page */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center;
  background-repeat: no-repeat; /* Prevents repeating of the background image */
  width: 100vw; /* Use full viewport width */
  height: 100vh; /* Use full viewport height */
  filter: brightness(0.8);
  animation: zoomInOut 5s ease-in-out forwards; /* Apply the zoom animation */
}


@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Zoom out */
  }
}

.proceed-button {
  position: absolute;
  width: 200px;
  bottom: 340px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proceed-button:hover {
  background-color: #ddd;
}
