/* Global Styles (App.css) */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
}

/* Shared Styles for Containers */
/* Background Image */
.background-style {
  background: url('../assets/bimg.png') no-repeat center center fixed;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 2rem;
  /*max-width: 800px;*/
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  margin-top: 150px;
  animation: fadeInUp 1s ease-in-out;
  text-align: center;
}

/* 
*,
*::before,
*::after {
  box-sizing: inherit;
} */

#root {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}


/* Page Headings */
h1 {
  font-size: 3rem; /* Large and prominent heading */
  color: #2C3E50; /* Dark Slate Blue */
  margin-top: 30px;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2C3E50; /* Dark Slate Blue */
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

/* Shared button styles */
.btn-primary {
  background-color: #88919b; /* Warm Yellow for call-to-action buttons */
  color: #FFFFFF; /* White text */
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #FFCC33; /* Slightly brighter yellow on hover */
  transform: scale(1.005); /* Slight zoom effect */
}

@media (max-width: 768px) {
  .btn-primary {
    font-size: 1.2rem;  /* Adjust button size for smaller screens */
    padding: 12px 24px;
  }
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #fafafa;
  align-items: center;
}


/* Alert Box Styling */
.alert {
  background-color: #EAF3FA; /* Light Blue */
  color: #2C3E50; /* Dark Slate Blue text */
  padding: 10px;
  border-radius: 8px;
}

/* Fade-in Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Add this to your App.css */

/* Speak Button Styling */
.speak-button {
  background-color: #007BFF; /* Primary blue color */
  color: #FFFFFF; /* White text */
  border: none;
  padding: 12px 24px; /* Padding for the button */
  font-size: 1.2rem; /* Font size */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  margin: 20px; /* Margin for spacing */
}

.speak-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.speakbutton {
  position: fixed; 
  bottom: 20px; 
  left: 20px;
  background-color: #4caf50; 
  color: #FFFFFF;  
  border: none;
  width: 120px;
  height: 40px;
  padding: 10px 20px; 
  font-size: 1rem; 
  border-radius: 8px;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 2000;
}

.speakbutton:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
}


/* Position and style for the Info button container */
.info-button-container {
  position: fixed;
  bottom: 20px;
  left: 150px; /* Adjust to position it next to the voice button */
  display: inline-block;
  z-index: 2000;
}

/* Info Button styling */
.infobutton {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infobutton:hover {
  background-color: #0dee18;
}

/* Tooltip styling */
.info-tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  bottom: 60px;
  left: -20px;
  width: 250px;
  font-size: 0.9rem;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Show tooltip on hover */
.info-button-container:hover .info-tooltip {
  visibility: visible;
  opacity: 1;
}
