/* Cards Section Styles (Card.css) */
.section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #fafafa;
  width: 100%;
  flex-wrap: wrap;
}

.Headings {
  background-color: #eaf3fa;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: larger;
}

.card {
  background-color: #f3f6f9;
  color: #333333;
  padding: 20px;
  width: 350px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 20px;
}

.card:hover {
  transform: scale(1.05);
  background-color: wheat;
}

/* Center the animation */
.lottieanimation {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  margin: 0 auto; /* Center the animation in the card */
}

.card h3 {
  margin: 100px 20;
  color: #004d40;
  font-size: rem;
  font-weight: bold;
}

.card p {
  margin-top: 10px; /* Space above the description */
  color: #555; /* Color for the description */
  font-size: 1.75rem; /* Adjust font size as necessary */
}
