footer {
  background-color: white;
  color: black;
  padding: 1rem 0;
  text-align: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  margin-right: 1.5rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer .social-media a {
  margin-right: 1rem;
}

footer .social-media img {
  width: 24px;
  height: 24px;
}
