/* Header Styles (Header.css) */
.header {
  background-color: lightgray; /* Initial color (color1) */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; /* Ensures the header starts at the very left */
  width: 100vw; /* Full viewport width */
  z-index: 100;
  padding: 10px 30px;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
  box-sizing: border-box;
}

.header.scrolled {
  background-color: lightyellow; /* Color when scrolled (color2) */
}

.header-title {
  font-weight: bold;
  font-size: 2rem;
  font-style: ;
  color: black;
}
