/* Cards Section Styles (Card.css) */
.section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #fafafa;
  width: 100%;
  flex-wrap: wrap;
}

.Headings {
  background-color: #eaf3fa;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: medium;
}

.card {
  background-color: white;
  color: #333333;
  
  width: 300px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 5px;
}

.card:hover {
  transform: scale(1.05);
  background-color: wheat;
  cursor: pointer;
}

/* Circle container for the animation */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Center the animation within the circle */
.lottieanimation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card h3 {
  margin-top: 20px;
  color: #004d40;
  font-size: 1.8rem;
  font-weight: bold;
}

.card p {
  margin-top: 10px;
  color: #555;
  font-size: 1.2rem;
}
