/*Cards Section Styles (Card.css) */
.section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #fafafa;
  width: 100%;
  flex-wrap: wrap;
}

.Headings {
  background-color: #eaf3fa;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: medium;
}

.card {
  background-color: #f3f6f9;
  color: #333333;
  padding: 5px;
  width: 350px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 5px;
}

.card:hover {
  transform: scale(1.05);
  background-color: wheat;
  cursor: pointer;
}

/* Center the animation */
 .lottieanimation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}

.card h3 {
  margin: 100px 20;
  color: #004d40;
  font-size: 2rem;
  font-weight: bold;
}

.card p {
  margin-top: 10px;
  color: #555;
  font-size: 1.5rem;
} 

