/* Navigation Styles (Navigation.css) */
.nav {
    display: flex;
    padding: 12px 20px;
    padding-right: 30px;
  } 
  
 .nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  } 
  
   .nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
  } 
  .nav a.active {
    color: black; /* Color for active link */
    font-weight: bold; /* Bold for active link */
    /* border-bottom: 2px solid white; Optional underline */
  }


